@model InformationPageViewModel
<!-- Home -->

<vc:banner banner="@ViewBag.SingleBanner" banner-type=@BannerType.Big />

<div class="container">
    <div class="row">
        <h1 class="col page-title">@Model.Name</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            @Html.Raw(Model.Content)
        </div>
    </div>
</div>

<!-- Newsletter -->
<partial name="Partials/Forms/NewsletterFormPartial" />

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/styles/categories.css" asp-append-version="true">
    <link rel="stylesheet" type="text/css" href="~/styles/categories_responsive.css" asp-append-version="true">
}

@section Scripts {
    <script src="~/js/categories.js" asp-append-version="true"></script>
}
