@model MenuViewModel

@{ var route = Url.ActionContext.RouteData.Values; }

<div class="menu menu_mm trans_300">
    <div class="menu_container menu_mm">
        <div class="page_menu_content">
            <partial name="Partials/Search/SearchPanelMobilePartial" />
            <ul class="page_menu_nav menu_mm">
                <li class="page_menu_item menu_mm">
                    <a asp-controller="Home" asp-action="Index">Home<i class="fa fa-angle-down"></i></a>
                </li>
                <li class="page_menu_item has-children menu_mm">
                    <span>Categories<i class="fa fa-angle-down"></i></span>
                    <ul class="page_menu_selection menu_mm">
                        @foreach (ProductListViewModel category in Model.ProductCateories)
                        {
                            <li class="page_menu_item menu_mm"><a asp-controller="Product" asp-action="List" asp-route-categoryAlias="@category.Alias">@category.Name<i class="fa fa-angle-down"></i></a></li>
                        }
                    </ul>
                </li>
                <li class="page_menu_item menu_mm"><a asp-controller="Product" asp-action="DiscountList">Discount<i class="fa fa-angle-down"></i></a></li>
                @foreach (InformationViewModel information in Model.Informations)
                {
                    <li class="page_menu_item menu_mm"><a asp-controller="Information" asp-action="Article" asp-route-articleAlias="@information.Alias">@information.Name<i class="fa fa-angle-down"></i></a></li>
                }
            </ul>
        </div>
    </div>

    <div class="menu_close"><i class="fa fa-times" aria-hidden="true"></i></div>

    <div class="menu_social">
        <partial name="Partials/Icons/SocialIconsPartial" />
    </div>
</div>