<div class="page_menu_search menu_mm">
    <form action="#">
        <input type="search" required="required" class="page_menu_search_input menu_mm" placeholder="Search for products...">
    </form>
</div>