@model HomePageViewModel
<!-- Home -->

<vc:slider banner-group="@ViewBag.HomeBannerGroup" />


@if (Model.Products != null)
{
    <!-- Products -->

    <div class="products">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="product_grid">
                        @foreach (ProductPageViewModel product in Model.Products)
                        {
                            <partial name="Partials/Product/ProductCardPartial" model="product" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<!-- Ad -->
<vc:banner banner="@ViewBag.SingleBanner" banner-type=@BannerType.Small />

<!-- Icon Boxes -->
<partial name="Partials/Icons/IconBoxesPartial" />

<!-- Newsletter -->
<partial name="Partials/Forms/NewsletterFormPartial" />

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/styles/responsive.css">
}

@section Scripts {
    <script src="~/js/custom.js"></script>
}