@model IEnumerable<ProductPageViewModel>

<div class="products">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="products_title">Related Products</div>
            </div>
        </div>
        <div class="row">
            <div class="col">

                <div class="product_grid">
                    @foreach (ProductPageViewModel product in Model)
                    {
                        <partial name="Partials/Product/ProductCardPartial" model="product" />
                    }                 
                </div>
            </div>
        </div>
    </div>
</div>